<%- include('../partials/headers/light') -%>
<%- include('../partials/nav_partials/navbar') -%>

<% const navLinks = [] %>

<section class="container other-contents" id="terms-and-conditions">

    <H1 class="page-heading">Privacy <span class="text-accent">Policy</span></H1>

    <div class="row gx-5">
        <div class="col-md-8 order-last order-md-first">
            <div class="page-content">

                <% data.forEach(element => { %>

                <div class="part" id=<%= element.id %>>
                    <h2 class="part-heading">
                        <%= element.title %>
                    </h2>

                    <% element.description.forEach(d => { %>
                    <p class="part-description">
                        <%= d %>
                    </p>
                    <% }); %>
                </div>

                <% navLinks.push({id: element.id, navLinkName: element.navLinkName}) %>

                <% }); %>

            </div>
        </div>

        <div class="col-md-4 order-first order-md-last  nav-parent">
            <nav class="nav flex-column">
                <p class="nav-title">On this page</p>

                <% navLinks.forEach(n => { %>
                    <a class="nav-link" href=<%= "#" + n.id %>><i class="bi bi-caret-right-fill"></i> <%= n.navLinkName %></a>
                <% }); %>
            </nav>
        </div>
    </div>



</section>

<%- include('../partials/footer_partials/dark') -%>
<%- include('../partials/footer') -%>